
<form #loginForm ="ngForm"(ngSubmit)="SignIn(loginForm)">
    <legend>Login</legend>

    <div class="form-group">
        <label for="Uname">Uname</label>
        <input type="text" class="form-control" id="Uname" name="Uname" placeholder="Uname" ngModel >
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="text" class="form-control" id="Password" name="Password" placeholder="Password" ngModel >
    </div>

    

    <button type="submit" class="btn btn-primary">Login</button>
</form>

